body{
    background-image: url(png3.jpg);
    
}
.date{
    background-color: black;
    text-align: center;   
}
.navbar{
    background-color: black;
    width: 100%;
}
.time{
    text-align: center;
    color: aliceblue;
    padding-left: 1190px;
}
.pet-info{
    color: aliceblue;
}
.user-input{
    color: aliceblue;
}
.container span{
    bottom: 12px;
    color: red;
    font-size: 14px;

}


